<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <title>Trasch Tech</title>
</head>
<body>
  <header><div class="logo"><a href="/" ><img src="img/Logo.png" alt=""></a><a href="/">Trash Tech</a>
  </div>
    <nav><a href="" class="nav-link">¿Cuando viene?</a><a href="./mapa.ejs" class="nav-link">Horarios y recorridos</a><a href="" class="nav-link">FAQ</a><a href="/login" class="nav-link">Ingresar</a></nav>
  </header>
  <div class="contenido">
    <h1>TRASH TECH</h1>
    <h2>Nuestra mision, contribuir con la higiene urbana</h2>
  </div>
  <footer class="pie-pagina">
    <div class="box">
      <figure>
        <a href="">
          <img src="img/icon.png" alt="">
        </a>
      </figure>
    </div>
    <div class="box">
      <p>SOBRE NOSOTROS</p>
      <P>Somos un emprendimiento con la misión de contribuir a la sociedad resolviendo problemas cotidianos relacionados con el medio ambiente</P>
    </div>
    <div class="box"></div>
  </footer>
</body>
</html>